<footer class="site-footer">
    <a href="#top" class="smoothscroll scroll-top">
      <span class="fas fa-arrow-up"></span>
    </a>
    <div class="container">
      <div class="row mb-5">
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3><%= t ".xh" %></h3>
          <ul class="list-unstyled">
            <li><%= t ".design" %></li>
            <li><%= t ".tkdh" %></li>
            <li><%= t ".front" %></li>
            <li><%= t ".py" %></li>
            <li><%= t ".html" %></li>
            <li><%= t ".css" %></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3><%= t ".search" %></h3>
          <ul class="list-unstyled">
            <li><%= t ".gt" %></li>
            <li><%= t ".ht" %></li>
            <li><%= t ".td" %></li>
            <li><%= t ".dk" %></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3><%= t ".dc" %></h3>
          <ul class="list-unstyled">
            <li><%= t ".school" %></li>
            <li><%= t ".address" %></li>
            <li><%= t ".phone" %></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3><%= t ".lh" %></h3>
          <div class="footer-social">
            <a href="#"><span class="fab fa-facebook-square"></span></a>
            <a href="#"><span class="fab fa-twitter-square"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
          </div>
          <%= link_to t(".eng"), locale:"en" %>
          <%= link_to t(".vie"), locale:"vi" %>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <p class="copyright">
            <small class="block">&copy;
              <%= t ".ruby_html" %>
            </small>
          </p>

        </div>
      </div>
    </div>
</footer>
