<header class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><%= link_to t(".job")%></div>
        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><%= link_to t(".home"), class: "nav-link active" %></li>
            <li><%= link_to t(".gt")%></li>
            <li class="has-children">
              <a href="#">Pages</a>
              <ul class="dropdown">
                <li><a href="#">Dịch vụ</a></li>
                <li><a href="#">Blog Single</a></li>
                <li><a href="#">Phản hổi</a></li>
                <li><a href="#">Hỏi đáp</a></li>
              </ul>
            </li>
            <li><%= link_to t(".blog")%></li>
            <li><%= link_to t(".contact")%></li>
          </ul>
        </nav>

        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <%= link_to t(".signup_html")%>
            <%= link_to t(".login_html")%>
          </div>
          <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>
    </div>
  </div>
</header>
